<!-- combined.html -->
<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div id="bar-graph" style="width: 800px; margin: 0 auto;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 offset-sm-3 border border-primary p-3">
            <h2>Pace</h2>
            <p>Days until closest milestone: <span class="font-weight-bold text-danger">{{ days_until_milestone }}</span></p>
            <p>Suggested hours per week: <span class="font-weight-bold text-danger">{{ suggested_hours_per_week }}</span></p>
            <p>Total hours studied: <span class="font-weight-bold text-danger">{{ total_hours }}</span></p>
        </div>
    </div>
</div>
