<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Learning Progress</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('home')}}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('chart')}}">Chart</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('setup')}}">Setup</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('pace')}}">Pace</a>
              </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 border border-primary p-3 text-center text-center">
                <h2>Pace</h2>
                <p class="text-center">Days until closest milestone: <span
                        class="font-weight-bold text-danger">{{ days_until_next_milestone }}</span></p>
                <p class="text-center">Days until final Milestone: <span
                        class="font-weight-bold text-danger">{{ days_until_final_milestone }}</span></p>
                <p class="text-center">Suggested hours per week: <span
                        class="font-weight-bold text-danger">{{ suggested_hours_per_week }}</span></p>
                <p class="text-center">Total hours studied: <span
                        class="font-weight-bold text-danger">{{ total_hours }}</span></p>
                <p class="text-center">Last week hours: <span
                        class="font-weight-bold text-danger">{{ last_week_hours }}</span></p>
                <p class="text-center">Current week hours: <span
                        class="font-weight-bold text-danger">{{ current_week_hours }}</span></p>
                <p class="text-center">Estimated date of completion: <span
                        class="font-weight-bold text-danger">{{ estimated_date_of_completion }}</span></p>
                <p class="text-center">Current weekly pace: <span
                        class="font-weight-bold text-danger">{{ weekly_avg_readable }}</span></p>
                <p class="text-center">Current daily pace: <span
                        class="font-weight-bold text-danger">{{ hourly_avg_readable }}</span></p>
            </div>
        </div>
    </div>
</body>

</html>